  
    <p>{{#if isAdult}}<span class="redbold noprint">Over 18</span>{{/if}}{{__ "prepared" data}} (DOB: {{data.DOB}}){{#if isAdult}}<span class="redbold noprint">Over 18</span>{{/if}}</p>
     <div class="noprint search"><form method="get" action="/studentnumber"><input name="studentnumber" id="studentnumber" type="text"><input type="submit"></form></div>