  
    <p>{{#if isAdult}}<span class="redbold noprint">Over 18</span>{{/if}}Prepared for: {{data.First_Name}} {{data.Last_Name}} (DOB: {{data.DOB}}){{#if isAdult}}<span class="redbold noprint">Over 18</span>{{/if}}</p>
     <div class="noprint search"><form method="get" action="/studentname"><input name="lastfirst" id="lastfirst" type="text"><input type="submit"></form></div>